* {
   box-sizing: border-box; 
}

body{
    padding: 0px;
    margin: 0px;
    background: whitesmoke;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    background: plum;
    height: 66px;
}

header *{
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
margin: 9px;
}

header .logo-text span{
color: purple;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
position: absolute;
top: 66px;
right: 0px;
width: 180px;
display: none;
z-index: 88888;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: gray;
    background: whitesmoke;   
}

header ul li ul li a.logout{
    color: rgb(234, 82, 140);
}

header ul li ul li a:hover {
    background: rgb(255, 211, 255);
    transition: 0.5s;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;

}

header ul li a:hover {
    background: purple;
    transition: 0.5s;
}

header .menu-toggle {
    display:  none;
}

.page-wrapper a:hover {
color: pink
}

/* ////////////// */

.post-slider{
    position: relative;
    border: 1px;
}

.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color:blueviolet;
    cursor: pointer;

}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color:blueviolet;
    cursor: pointer;
}



.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    border: 1px;
    
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #808080;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
    
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* /////////// */

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background:purple;
        max-height: 0px;
        overflow: hidden;
    }
    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a {
        padding: 10px;
        background: purple;
        color: whitesmoke;
        padding: left 50px;
    }
    header ul li ul li a:hover{
        background: pink;
    }

    header ul li ul li a.logout {
        color: rgb(234, 82, 140);    
    }
    header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
}
header .logo{
    margin-left: .5em;
}
}