{% extends "base.html" %}

{% block content %}

<div class="admin-wrapper">

    <div class="left-sidebar">
        <ul>
            <li><a href="{{ url_for('admin_posts') }}">Manage Posts</a></li>
            <li><a href="{{ url_for('admin_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('admin_topics') }}">Manage Topics</a></li>
        </ul>
    </div>

    <div class="admin-content">
        <div class="button-group">
            <a href="{{ url_for('create_topic') }}" class="btn btn-big">Add Topic</a>
            <a href="{{ url_for('admin_topics') }}" class="btn btn-big">Manage Topics</a>
        </div>

        <div class="content">
            <h2 class="page-title">Add Topic</h2>

            <form action="{{ url_for('create_topic') }}" method="post">
                {% if errors %}
                    <div class="msg error">
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="text-input" value="{{ request.form.name }}">
                    
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="text-input">{{ request.form.description }}</textarea>
                </div>

                <div>
                    <button type="submit" class="btn btn-big">Submit Topic</button>
                </div>
            </form>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/47.3.0/ckeditor5.umd.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
