{% extends "base.html" %}

{% block content %}

<div class="admin-wrapper">

    <div class="left-sidebar">
        <ul>
            <li><a href="{{ url_for('admin_posts') }}">Manage Posts</a></li>
            <li><a href="{{ url_for('admin_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('admin_topics') }}">Manage Topics</a></li>
        </ul>
    </div>

    <div class="admin-content">
        <div class="button-group">
            <a href="{{ url_for('create_topic') }}" class="btn btn-big">Add Topic</a>
            <a href="{{ url_for('admin_topics') }}" class="btn btn-big">Manage Topics</a>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Topics</h2>

            <table>
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idx, topic in enumerate(topics, start=1) %}
                    <tr>
                        <td>{{ idx }}</td>
                        <td>{{ topic.name }}</td>
                        <td><a href="{{ url_for('edit_topic', topic_id=topic.id) }}" class="edit">edit</a></td>
                        <td><a href="{{ url_for('delete_topic', topic_id=topic.id) }}" class="delete">delete</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No topics found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
