{% extends "base.html" %}

{% block content %}
<div class="page-wrapper">

    <div class="content clearfix">

        <div class="main-content single">
            <h1 class="post-title">{{ post.title }}</h1>

            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>

        </div> <!-- end main-content -->

        <div class="sidebar single">
            <h2 class="section-title">Popular</h2>
            
            {% for popular in popular_posts %}
            <div class="post clearfix">
                <img src="{{ url_for('static', filename=popular.image) }}" alt="">
                <a href="{{ popular.url }}" class="title">{{ popular.title }}</a>
            </div>
            {% endfor %}

            <div class="section topics">
                <h2 class="section-title">Topics</h2>
                <ul>
                    {% for topic in topics %}
                    <li><a href="{{ topic.url }}">{{ topic.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div> <!-- end content -->

</div> <!-- end page-wrapper -->
{% endblock %}
