{% extends "base.html" %}

{% block content %}

<div class="admin-wrapper">

    <div class="left-sidebar">
        <ul>
            <li><a href="{{ url_for('admin_posts') }}">Manage Posts</a></li>
            <li><a href="{{ url_for('admin_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('admin_topics') }}">Manage Topics</a></li>
        </ul>
    </div>

    <div class="admin-content">
        <div class="button-group">
            <a href="{{ url_for('create_post') }}" class="btn btn-big">Add Post</a>
            <a href="{{ url_for('admin_posts') }}" class="btn btn-big">Manage Posts</a>
        </div>

        <div class="content">
            <h2 class="page-title">Add Post</h2>

            <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">
                <div>
                    <label>Title</label>
                    <input type="text" name="title" class="text-input" value="{{ request.form.get('title', '') }}">

                    <label>Body</label>
                    <textarea name="body" id="body">{{ request.form.get('body', '') }}</textarea>
                </div>

                <div>
                    <label>Image</label>
                    <input type="file" name="image" class="text-input">
                </div>

                <div>
                    <label>Topic</label>
                    <select name="topic">
                        {% for topic in topics %}
                            <option value="{{ topic.name }}" {% if request.form.get('topic') == topic.name %}selected{% endif %}>
                                {{ topic.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn btn-big">Submit Post</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/47.3.0/ckeditor5.umd.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
