{% extends "base.html" %}

{% block content %}

<div class="admin-wrapper">

    <div class="left-sidebar">
        <ul>
            <li><a href="{{ url_for('admin_posts') }}">Manage Posts</a></li>
            <li><a href="{{ url_for('admin_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('admin_topics') }}">Manage Topics</a></li>
        </ul>
    </div>

    <div class="admin-content">
        <div class="button-group">
            <a href="{{ url_for('create_user') }}" class="btn btn-big">Add User</a>
            <a href="{{ url_for('admin_users') }}" class="btn btn-big">Manage Users</a>
        </div>

        <div class="content">
            <h2 class="page-title">Add User</h2>

            {% if errors %}
                <div class="msg error">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form action="{{ url_for('create_user') }}" method="post">
                <div>
                    <label>Username</label>
                    <input type="text" name="username" class="text-input" value="{{ request.form.username }}">
                </div>

                <div>
                    <label>Email</label>
                    <input type="email" name="email" class="text-input" value="{{ request.form.email }}">
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password" class="text-input">
                </div>

                <div>
                    <label>Password Confirmation</label>
                    <input type="password" name="passwordConf" class="text-input">
                </div>

                <div>
                    <label>Role</label>
                    <select name="role">
                        <option value="Author" {% if request.form.role == 'Author' %}selected{% endif %}>Author</option>
                        <option value="Admin" {% if request.form.role == 'Admin' %}selected{% endif %}>Admin</option>
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn btn-big">Submit User</button>
                </div>
            </form>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/47.3.0/ckeditor5.umd.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
